{
	"env": {
		"browser": true,
		"es6": true,
		"node": true
	},
	"extends": ["airbnb/base"],
	"rules": {
		"no-console": "warn",
		"no-tabs": "off",
		"no-alert": "error",
		"indent": [2, "tab"]
	}
}